@using Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset id="final-fieldset">
    <legend>@Global.FinalTitle</legend>
    <div class="center-text">
        <p>
            @Global.FinalText
        </p>
    </div>
</fieldset>

