@model Quintessence.QPlanet.Webshell.Models.Profile.ProfileInfo

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile - Detail";
}

<h2>Detail</h2>
