<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <!--
      <endpoint name="IDictionaryManagementQueryService" address="http://localhost/QService/QPlanetService/DictionaryManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IDictionaryManagementQueryService" />
      <endpoint name="ICustomerRelationshipManagementQueryService" address="http://localhost/QService/QPlanetService/CustomerRelationshipManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ICustomerRelationshipManagementQueryService" />
      <endpoint name="ISecurityQueryService" address="http://localhost/QService/QPlanetService/SecurityQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISecurityQueryService" />
      <endpoint name="IInfrastructureQueryService" address="http://localhost/QService/QPlanetService/InfrastructureQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IInfrastructureQueryService" />
      <endpoint name="IAuthenticationQueryService" address="http://localhost/QService/QPlanetService/AuthenticationQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IAuthenticationQueryService" />
      <endpoint name="IProjectManagementQueryService" address="http://localhost/QService/QPlanetService/ProjectManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IProjectManagementQueryService" />
      <endpoint name="ISimulationManagementQueryService" address="http://localhost/QService/QPlanetService/SimulationManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISimulationManagementQueryService" />
      <endpoint name="ICandidateManagementQueryService" address="http://localhost/QService/QPlanetService/CandidateManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ICandidateManagementQueryService" />
      <endpoint name="IDocumentManagementQueryService" address="http://localhost/QService/QPlanetService/DocumentManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IDocumentManagementQueryService" />
      <endpoint name="ISupplyChainManagementQueryService" address="http://localhost/QService/QPlanetService/SupplyChainManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISupplyChainManagementQueryService" />

      <endpoint name="IDictionaryManagementCommandService" address="http://localhost/QService/QPlanetService/DictionaryManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IDictionaryManagementCommandService" />
      <endpoint name="ISecurityCommandService" address="http://localhost/QService/QPlanetService/SecurityCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISecurityCommandService" />
      <endpoint name="IAuthenticationCommandService" address="http://localhost/QService/QPlanetService/AuthenticationCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IAuthenticationCommandService" />
      <endpoint name="IProjectManagementCommandService" address="http://localhost/QService/QPlanetService/ProjectManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IProjectManagementCommandService" />
      <endpoint name="ICustomerRelationshipManagementCommandService" address="http://localhost/QService/QPlanetService/CustomerRelationshipManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ICustomerRelationshipManagementCommandService" />
      <endpoint name="ISimulationManagementCommandService" address="http://localhost/QService/QPlanetService/SimulationManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISimulationManagementCommandService" />
      <endpoint name="ICandidateManagementCommandService" address="http://localhost/QService/QPlanetService/CandidateManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ICandidateManagementCommandService" />
      <endpoint name="ISupplyChainManagementCommandService" address="http://localhost/QService/QPlanetService/SupplyChainManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISupplyChainManagementCommandService" />
      -->
      
      <endpoint name="IDictionaryManagementQueryService" address="http://localhost:19349/DictionaryManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IDictionaryManagementQueryService" />
      <endpoint name="ICustomerRelationshipManagementQueryService" address="http://localhost:19349/CustomerRelationshipManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ICustomerRelationshipManagementQueryService" />
      <endpoint name="ISecurityQueryService" address="http://localhost:19349/SecurityQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISecurityQueryService" />
      <endpoint name="IInfrastructureQueryService" address="http://localhost:19349/InfrastructureQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IInfrastructureQueryService" />
      <endpoint name="IAuthenticationQueryService" address="http://localhost:19349/AuthenticationQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IAuthenticationQueryService" />
      <endpoint name="IProjectManagementQueryService" address="http://localhost:19349/ProjectManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IProjectManagementQueryService" />
      <endpoint name="ISimulationManagementQueryService" address="http://localhost:19349/SimulationManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISimulationManagementQueryService" />
      <endpoint name="ICandidateManagementQueryService" address="http://localhost:19349/CandidateManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ICandidateManagementQueryService" />
      <endpoint name="IDocumentManagementQueryService" address="http://localhost:19349/DocumentManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IDocumentManagementQueryService" />
      <endpoint name="ISupplyChainManagementQueryService" address="http://localhost:19349/SupplyChainManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISupplyChainManagementQueryService" />

      <endpoint name="IDictionaryManagementCommandService" address="http://localhost:19349/DictionaryManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IDictionaryManagementCommandService" />
      <endpoint name="ISecurityCommandService" address="http://localhost:19349/SecurityCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISecurityCommandService" />
      <endpoint name="IAuthenticationCommandService" address="http://localhost:19349/AuthenticationCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IAuthenticationCommandService" />
      <endpoint name="IProjectManagementCommandService" address="http://localhost:19349/ProjectManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IProjectManagementCommandService" />
      <endpoint name="ICustomerRelationshipManagementCommandService" address="http://localhost:19349/CustomerRelationshipManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ICustomerRelationshipManagementCommandService" />
      <endpoint name="ISimulationManagementCommandService" address="http://localhost:19349/SimulationManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISimulationManagementCommandService" />
      <endpoint name="ICandidateManagementCommandService" address="http://localhost:19349/CandidateManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ICandidateManagementCommandService" />
      <endpoint name="ISupplyChainManagementCommandService" address="http://localhost:19349/SupplyChainManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISupplyChainManagementCommandService" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding maxReceivedMessageSize="2147483647" receiveTimeout="infinite">
          <readerQuotas maxStringContentLength="2147483647" />
          <reliableSession inactivityTimeout="infinite" enabled="true" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>