@model IEnumerable<Quintessence.QPlanet.Webshell.Models.AreaInfo.AreaActionLink>
<nav class="action">
    <ul>
        @foreach (var link in Model)
        {
            if (link.Current)
            {
                <li class="current">@link.LinkTitle</li>
            }
            else
            {
                <li>@Html.ActionLink(link.LinkText, link.Action, link.Controller, new { area = link.Area }, new { title = link.LinkTitle })
                </li>
            }
        }
    </ul>
</nav>
