@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Quintessence.QCandidate.Controllers

@inject IViewLocalizer Localizer

@section Styles {
    <link href="/css/memoprogramcomponentdetails.css" rel="stylesheet" />
}

@{ 
    var language = User.Claims.SingleOrDefault(c => c.Type == "extension_Language").Value.ToLower();
    System.Threading.Thread.CurrentThread.CurrentUICulture = System.Globalization.CultureInfo.GetCultureInfo(language);
    System.Threading.Thread.CurrentThread.CurrentCulture = System.Globalization.CultureInfo.GetCultureInfo(language);
}

<div class="container">
    <div class="context">
        @Html.ActionLink(Localizer["Quit"].Value, nameof(AssessmentsController.Get), "Assessments", null, new { @class = "btn" })
        <h1>@ViewBag.Name</h1>
    </div>
</div>

<div class="container noaccess">
    <div class="content">
        @Localizer["NoAccessYet"]
    </div>
</div>



