<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Quintessence" providerName="System.Data.SqlClient" connectionString="Data Source=con-vmtest;Initial Catalog=Quintessence;User Id=QuintessenceUser;Password=$Quint123;" />
    <add name="SharePoint" connectionString="Url=http://con-qshare;UserName=quintsqladmin;Password=Quint1!;Domain=NETADEPT" />
    <add name="ReportingService" connectionString="Url=http://con-sqlquint/rs_quintessence/ReportExecution2005.asmx;UserName=quintsqladmin;Password=Quint1!;Domain=NETADEPT" />
  </connectionStrings>

  <appSettings>
    <add key="DictionaryImportFolder" value="c:\temp\QPlanetImportDictionaries" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint address="http://con-sqlquint/rs_quintessence/ReportExecution2005.asmx" binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap" contract="ReportExecutionService.ReportExecutionServiceSoap" name="ReportExecutionServiceSoap" />
    </client>
  </system.serviceModel>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>