<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Quintessence" connectionString="Data Source=vm-dev;Initial Catalog=Quintessence;Integrated Security=False;User Id=QuintessenceUser;Password=$Quint123;Pooling=false;" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="SharePoint" connectionString="Url=http://qshare;UserName=SPAdmin;Password=$Quint123;Domain=QUINTDOMAIN" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="ReportingService" connectionString="Url=http://vm-dev/reportserver/ReportExecution2005.asmx;UserName=RSUser;Password=$Quint123;Domain=QUINTDOMAIN" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>

  <system.serviceModel>
    <client>
      <endpoint address="http://vm-dev/reportserver/ReportExecution2005.asmx"
          name="ReportExecutionServiceSoap"
          xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </client>
  </system.serviceModel>
</configuration>