<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <!--<add name="Quintessence" connectionString="Data Source=qprod-db\quintessence;Initial Catalog=Quintessence;Integrated Security=False;User Id=QuintessenceUser;Password=$Quint123;Pooling=false;" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
    <add name="SharePoint" connectionString="Url=http://qshare;UserName=SPAdmin;Password=$Quint123;Domain=QUINTDOMAIN" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="ReportingService" connectionString="Url=http://qprod-db/rs_quintessence/ReportExecution2005.asmx;UserName=RSUser;Password=$Quint123;Domain=QUINTDOMAIN" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />-->

    <add name="Quintessence" providerName="System.Data.SqlClient" connectionString="Data Source=con-sqlquint\quintessence;Initial Catalog=Quintessence;User Id=QuintessenceUser;Password=$Quint123;" />
    <add name="SharePoint" connectionString="Url=http://con-qshare;UserName=quintsqladmin;Password=Quint1!;Domain=NETADEPT" />
    <add name="ReportingService" connectionString="Url=http://con-sqlquint/rs_quintessence/ReportExecution2005.asmx;UserName=quintsqladmin;Password=Quint1!;Domain=NETADEPT" />
  </connectionStrings>

  <appSettings>
    <add key="DictionaryImportFolder" value="c:\Program Files\Quintessence\Dictionaries" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://con-sqlquint/rs_quintessence/ReportExecution2005.asmx" binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap" contract="ReportExecutionService.ReportExecutionServiceSoap" name="ReportExecutionServiceSoap" />
    </client>
  </system.serviceModel>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>