<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </configSections>
  <appSettings>
    <add key="AllowedPasswordChars" value="ABCDEFGHJKMNPQRSTUVWXYZ23456789" />
    <add key="DictionaryImportFolder" value="c:\temp\QPlanetImportDictionaries" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Quintessence" connectionString="Server=vm-test;Database=Quintessence;User ID=QuintessenceUser;Password=$Quint123;Trusted_Connection=False;Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
    <add name="Quintessence" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Quintessence_QPlanet;Integrated Security=True" />
    <!--<add name="SharePoint" connectionString="Url=http://qshare.quintessence.be;UserName=ceddy;Password=1975Koffiekoek;Domain=QUINT" />-->
    <add name="ReportingService" connectionString="Url=http://ws13-qnt-sql01/ReportServer_QNT01S/ReportExecution2005.asmx;UserName=ceddy;Password=1975Koffiekoek;Domain=QUINT" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://ws13-qnt-sql01/ReportServer_QNT01S/ReportExecution2005.asmx" binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap" contract="ReportExecutionService.ReportExecutionServiceSoap" name="ReportExecutionServiceSoap" />
    </client>
    <services>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.DictionaryManagementQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IDictionaryManagementQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.CustomerRelationshipManagementQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ICustomerRelationshipManagementQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.SecurityQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISecurityQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.FinanceManagementQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IFinanceManagementQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.InfrastructureQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IInfrastructureQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.AuthenticationQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IAuthenticationQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.ProjectManagementQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IProjectManagementQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.SimulationManagementQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISimulationManagementQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.CandidateManagementQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ICandidateManagementQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.DocumentManagementQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IDocumentManagementQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.SupplyChainManagementQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISupplyChainManagementQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.WorkspaceManagementQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IWorkspaceManagementQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.QueryServices.ReportManagementQueryService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IReportManagementQueryService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.CommandServices.DictionaryManagementCommandService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IDictionaryManagementCommandService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.CommandServices.SecurityCommandService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISecurityCommandService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.CommandServices.AuthenticationCommandService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IAuthenticationCommandService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.CommandServices.ProjectManagementCommandService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IProjectManagementCommandService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.CommandServices.CustomerRelationshipManagementCommandService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ICustomerRelationshipManagementCommandService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.CommandServices.SimulationManagementCommandService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISimulationManagementCommandService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.CommandServices.CandidateManagementCommandService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ICandidateManagementCommandService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.CommandServices.SupplyChainManagementCommandService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISupplyChainManagementCommandService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.CommandServices.ReportManagementCommandService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IReportManagementCommandService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.CommandServices.InfrastructureCommandService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IInfrastructureCommandService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.CommandServices.WorkspaceManagementCommandService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IWorkspaceManagementCommandService" />
      </service>
      <service name="Quintessence.QService.QPlanetService.Implementation.CommandServices.DocumentManagementCommandService">
        <endpoint binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IDocumentManagementCommandService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportExecutionServiceSoap" closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ReportingService2005Soap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding receiveTimeout="Infinite" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
          <reliableSession inactivityTimeout="Infinite" enabled="true" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Tracing" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="C:\ApplicationLogging\QService\QPlanetService\AppLog.log" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" listenerDataType="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QService.Core" traceOutputOptions="LogicalOperationStack" type="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListener, Quintessence.QService.Core" name="AppLog" />
      <add fileName="C:\ApplicationLogging\QService\QPlanetService\Exception.log" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" listenerDataType="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QService.Core" traceOutputOptions="Callstack" type="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListener, Quintessence.QService.Core" name="Exception" />
      <add fileName="C:\ApplicationLogging\QService\QPlanetService\Trace.csv" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Csv Formatter" listenerDataType="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QService.Core" traceOutputOptions="None" type="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListener, Quintessence.QService.Core" name="Trace" />
      <add fileName="C:\ApplicationLogging\QService\QPlanetService\Timings.csv" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Csv Formatter" listenerDataType="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QService.Core" traceOutputOptions="None" type="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListener, Quintessence.QService.Core" name="Timings" />
    </listeners>
    <formatters>
      <add template="{timestamp} : {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
      <add template="{timestamp};{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Csv Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="AppLog">
        <listeners>
          <add name="AppLog" />
        </listeners>
      </add>
      <add switchValue="Verbose" name="ExceptionHandling">
        <listeners>
          <add name="Exception" />
        </listeners>
      </add>
      <add switchValue="Information" name="Tracing">
        <listeners>
          <add name="Trace" />
        </listeners>
      </add>
      <add switchValue="Information" name="DurationLog">
        <listeners>
          <add name="Timings" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="Off" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>