<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Quintessence" connectionString="Data Source=localhost;Initial Catalog=Quintessence;Integrated Security=True;Pooling=false;" providerName="System.Data.SqlClient" />
    <add name="SharePoint" connectionString="Url=http://qshare;UserName=SPAdmin;Password=$Quint123;Domain=QUINTDOMAIN" />
  </connectionStrings>
</configuration>