<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Quintessence" connectionString="Data Source=vm-dev;Initial Catalog=Quintessence.Build.Dev03;Integrated Security=False;User Id=QuintessenceUser;Password=$Quint123;Pooling=false;" providerName="System.Data.SqlClient" />
    <add name="SharePoint" connectionString="Url=http://qshare;UserName=SPAdmin;Password=$Quint123;Domain=QUINTDOMAIN" />
  </connectionStrings>
</configuration>