<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </configSections>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="2147483647" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <machineKey compatibilityMode="Framework45" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint name="IAuthenticationQueryService" address="http://localhost:19349/AuthenticationQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IAuthenticationQueryService" />
      <endpoint name="IProjectManagementQueryService" address="http://localhost:19349/ProjectManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IProjectManagementQueryService" />

      <endpoint name="IAuthenticationCommandService" address="http://localhost:19349/AuthenticationCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IAuthenticationCommandService" />
      <endpoint name="IProjectManagementCommandService" address="http://localhost:19349/ProjectManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IProjectManagementCommandService" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding maxReceivedMessageSize="2147483647" receiveTimeout="infinite">
          <readerQuotas maxStringContentLength="2147483647" />
          <reliableSession inactivityTimeout="infinite" enabled="true" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" >
      <remove name="UrlRoutingModule"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Tracing" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="C:\ApplicationLogging\QCare\AppLog.log" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" listenerDataType="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QPlanet.Infrastructure" traceOutputOptions="LogicalOperationStack" type="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListener, Quintessence.QPlanet.Infrastructure" name="AppLog" />
      <add fileName="C:\ApplicationLogging\QCare\Exception.log" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" listenerDataType="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QPlanet.Infrastructure" traceOutputOptions="Callstack" type="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListener, Quintessence.QPlanet.Infrastructure" name="Exception" />
      <add fileName="C:\ApplicationLogging\QCare\Trace.csv" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Csv Formatter" listenerDataType="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QPlanet.Infrastructure" traceOutputOptions="None" type="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListener, Quintessence.QPlanet.Infrastructure" name="Trace" />
      <add fileName="C:\ApplicationLogging\QCare\Timings.csv" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Csv Formatter" listenerDataType="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QPlanet.Infrastructure" traceOutputOptions="None" type="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListener, Quintessence.QPlanet.Infrastructure" name="Timings" />
    </listeners>
    <formatters>
      <add template="{timestamp} : {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
      <add template="{timestamp};{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Csv Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="AppLog">
        <listeners>
          <add name="AppLog" />
        </listeners>
      </add>
      <add switchValue="Verbose" name="ExceptionHandling">
        <listeners>
          <add name="Exception" />
        </listeners>
      </add>
      <add switchValue="Information" name="Tracing">
        <listeners>
          <add name="Trace" />
        </listeners>
      </add>
      <add switchValue="Information" name="DurationLog">
        <listeners>
          <add name="Timings" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="Off" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
</configuration>
