<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint name="IAuthenticationQueryService" address="http://vm-test:8080/QPlanetService/AuthenticationQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IProjectManagementQueryService" address="http://vm-test:8080/QPlanetService/ProjectManagementQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />

      <endpoint name="IAuthenticationCommandService" address="http://vm-test:8080/QPlanetService/AuthenticationCommandService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IProjectManagementCommandService" address="http://vm-test:8080/QPlanetService/ProjectManagementCommandService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </client>
  </system.serviceModel>
</configuration>