<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </configSections>
  
  <connectionStrings>
    <add name="CulturalFit" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=CulturalFit.DataTest;Integrated Security=True;Pooling=false;"/>
    <add name="vm-quinttfs.CulturalFit" providerName="System.Data.SqlClient" connectionString="Data Source=vm-dev;Initial Catalog=CulturalFit.DataTest;Integrated Security=True;Pooling=false;"/>
    <add name="w7tfs.CulturalFit" providerName="System.Data.SqlClient" connectionString="Data Source=vm-dev;Initial Catalog=CulturalFit.DataTest;Integrated Security=True;Pooling=false;"/>
  </connectionStrings>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="Tracing" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="AppLog" type="Quintessence.CulturalFit.Infra.Logging.ConsoleTraceListener, Quintessence.CulturalFit.Infra" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" formatter="Text Formatter" />
      <add name="Exception" type="Quintessence.CulturalFit.Infra.Logging.ConsoleTraceListener, Quintessence.CulturalFit.Infra" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" formatter="Text Formatter" />
      <add name="Trace" type="Quintessence.CulturalFit.Infra.Logging.ConsoleTraceListener, Quintessence.CulturalFit.Infra" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" formatter="Text Formatter" />
    </listeners>
    <formatters>
      <add template="{timestamp} : {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="AppLog">
        <listeners>
          <add name="AppLog" />
        </listeners>
      </add>
      <add switchValue="Verbose" name="ExceptionHandling">
        <listeners>
          <add name="Exception" />
        </listeners>
      </add>
      <add switchValue="Information" name="Tracing">
        <listeners>
          <add name="Trace" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="Off" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
</configuration>