<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </configSections>

  <connectionStrings>
    <add name="Quintessence" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=Quintessence;Integrated Security=True;Pooling=false;" />
    <add name="SharePoint" connectionString="Url=http://qshare;UserName=SPAdmin;Password=$Quint123;Domain=QUINTDOMAIN" />
  </connectionStrings>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Tracing" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="C:\ApplicationLogging\QService\QPlanetService\AppLog.log" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" listenerDataType="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QService.Core" traceOutputOptions="LogicalOperationStack" type="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListener, Quintessence.QService.Core" name="AppLog" />
      <add fileName="C:\ApplicationLogging\QService\QPlanetService\Exception.log" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" listenerDataType="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QService.Core" traceOutputOptions="Callstack" type="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListener, Quintessence.QService.Core" name="Exception" />
      <add fileName="C:\ApplicationLogging\QService\QPlanetService\Trace.csv" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Csv Formatter" listenerDataType="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QService.Core" traceOutputOptions="None" type="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListener, Quintessence.QService.Core" name="Trace" />
      <add fileName="C:\ApplicationLogging\QService\QPlanetService\Timings.csv" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Csv Formatter" listenerDataType="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QService.Core" traceOutputOptions="None" type="Quintessence.QService.Core.Logging.TraceRollingFlatFileTraceListener, Quintessence.QService.Core" name="Timings" />
    </listeners>
    <formatters>
      <add template="{timestamp} : {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
      <add template="{timestamp};{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Csv Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="AppLog">
        <listeners>
          <add name="AppLog" />
        </listeners>
      </add>
      <add switchValue="Verbose" name="ExceptionHandling">
        <listeners>
          <add name="Exception" />
        </listeners>
      </add>
      <add switchValue="Information" name="Tracing">
        <listeners>
          <add name="Trace" />
        </listeners>
      </add>
      <add switchValue="Information" name="DurationLog">
        <listeners>
          <add name="Timings" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="Off" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>