<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </configSections>
  
  <connectionStrings>
    <add name="Quintessence" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=Quintessence;Integrated Security=False;User Id=QuintessenceUser;Password=$Quint123;Pooling=false;"/>
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" /> 
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
    <add key="ReportingServiceUserName" value="RSUser"/>
    <add key="ReportingServicePassword" value="$Quint123"/>
    <add key="ReportingServiceDomain" value="QUINTDOMAIN"/>
    <add key="ReportingServiceReportPath" value="/CulturalFit Reports/CulturalFitReport"/>
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <pages controlRenderingCompatibilityVersion="4.5" />
    <machineKey compatibilityMode="Framework45" />
  </system.web>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://vm-dev:80/ReportServer/ReportExecution2005.asmx"
        binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap"
        contract="ReportExecutionReference.ReportExecutionServiceSoap"
        name="ReportExecutionServiceSoap" />
    </client>
    <services>
      <service name="Quintessence.CulturalFit.Service.Implementation.TheoremListService">
        <endpoint binding="basicHttpBinding"
                  contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.ITheoremListService" />
      </service>
      <service name="Quintessence.CulturalFit.Service.Implementation.CrmService">
        <endpoint binding="basicHttpBinding"
                  contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.ICrmService" />
      </service>
    </services>
    <bindings>
      <!--<wsHttpBinding>
        <binding maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </wsHttpBinding>-->
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
        <binding name="ReportExecutionServiceSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"
            maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>

          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Tracing" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="C:\ApplicationLogging\CulturalFit\Service\AppLog.log" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" listenerDataType="Quintessence.CulturalFit.Infra.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.CulturalFit.Infra" traceOutputOptions="LogicalOperationStack" type="Quintessence.CulturalFit.Infra.Logging.TraceRollingFlatFileTraceListener, Quintessence.CulturalFit.Infra" name="AppLog" />
      <add fileName="C:\ApplicationLogging\CulturalFit\Service\Exception.log" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" listenerDataType="Quintessence.CulturalFit.Infra.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.CulturalFit.Infra" traceOutputOptions="Callstack" type="Quintessence.CulturalFit.Infra.Logging.TraceRollingFlatFileTraceListener, Quintessence.CulturalFit.Infra" name="Exception" />
      <add fileName="C:\ApplicationLogging\CulturalFit\Service\Trace.log" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" listenerDataType="Quintessence.CulturalFit.Infra.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.CulturalFit.Infra" traceOutputOptions="None" type="Quintessence.CulturalFit.Infra.Logging.TraceRollingFlatFileTraceListener, Quintessence.CulturalFit.Infra" name="Trace" />
    </listeners>
    <formatters>
      <add template="{timestamp} : {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="AppLog">
        <listeners>
          <add name="AppLog" />
        </listeners>
      </add>
      <add switchValue="Verbose" name="ExceptionHandling">
        <listeners>
          <add name="Exception" />
        </listeners>
      </add>
      <add switchValue="Information" name="Tracing">
        <listeners>
          <add name="Trace" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="Off" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
</configuration>
