<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Quintessence" connectionString="Data Source=qprod-db\quintessence;Initial Catalog=Quintessence;Integrated Security=False;User Id=QuintessenceUser;Password=$Quint123;Pooling=false;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://qprod-db/RS_QUINTESSENCE/ReportExecution2005.asmx"
        name="ReportExecutionServiceSoap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>