/* Context top */
.context .btn, .context .btn:active, .context .btn:focus {
    float: right;
    background-color: #003167;
    color: #fff;
    text-transform: none;
    box-shadow: none;
    border: 1px solid #003167;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.050em;
    line-height: 1em;
    text-decoration: none;
    padding: 6px 8px;
    height: auto;
    margin-top: 8px;
  }
  
  .context .btn:hover {
    background-color: transparent;
    color: #003167;
    transition: 0.2s;
    box-shadow: none;
  }

  .context h1 {
    text-align: center;
    margin: 12px auto;
    font-size: 34px;
    font-weight: 300;
    color: #383838;
    width: 400px;
  }

  /* Tabs */

  .tab-wrapper {
    background-color: #F0F0F0;
  }
  
  ul.tabs {
    margin: 0px 0px 20px -50px;
    background-color: #F0F0F0;
    overflow: visible;
  }

  .tabs .tab a {
    color: #003167;
  }

  .tabs .tab a:hover, .tabs .tab a.active {
    background-color: #003167;
    color: #fff;
  }

  .tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #003167;
    outline: none;
  }

  .tabs .indicator {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #003167;
    background-color: transparent;
    bottom: -10px;
    margin: 0px auto
  }

  .assessment-content h2 {
    font-size: 22px;
    color: #003167;
  }

  .assessment-content ul li {
      list-style-type: disc;
  }

  .assessment-content p, .assessment-content ul {
      margin-bottom: 8px;
  }

  .block-new {
      background-color: #E5EAEF;
      margin: 0px -20px;
      padding: 1px 20px 20px 20px;
  }

  .memo-wrapper img {
    width: 100%;
  }
  
  #memo-list {
    width: 100%;
  }
  
  .list-group-item, .list-group-item-new {
    width: 100%;
    padding: 6px 0px 3px 8px;
    border: 1px solid #D6D6D6;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
  }

  .drag-icon {
    border: 1px solid #D6D6D6;
    background-color: #F0F0F0;
    margin: -8px 3px -4px -9px;
    padding: 7px 5px 3px 4px;
    display: inline-block;
  }

  .list-group-item-new {
    background-color: #E5EAEF;
  }
  
  .ghost-background-class {
    background-color: #E5EAEF;
  }

  .list-group-item.active, .list-group-item-new.active {
    background-color: #F0F0F0;
  }

  .list-group-item .material-icons:last-child, 
  .list-group-item-new .material-icons:last-child {
      font-size: 20px;
  }

  .memo {
      display: none;
  }

  .memo.active {
      display: block;
  }

  .truncate {
    display: inline-block !important;
    width: 70%;
    padding: 0px;
    margin: 0px;
  }

  .calendar {
      display: flex;
      flex-wrap: wrap;
  }

  .calendar-block {
      width: 19%;
      margin-right: 1%;
  }

  .calendar-date {
      background-color: #F0F0F0;
      text-align: center;
      padding: 4px 0px;
  }

  .calendar-text {
    border: 1px solid #F0F0F0;
    height: 100px;
  }

  #outerContainer #mainContainer div.toolbar {
    display: none !important; /* hide PDF viewer toolbar */
  }
  #outerContainer #mainContainer #viewerContainer {
    top: 0 !important; /* move doc up into empty bar space */
  }
  