@model Quintessence.CulturalFit.UI.Webshell.Models.Questionnaire.TheoremEntity
<td style="width: 0px">@Html.HiddenFor(x => x.Id)</td>
<td style="width: 70%">@Html.DisplayFor(x => x.Quote)</td>
<td style="width: 15%; text-align: center;">@Html.CheckBoxFor(x => x.IsMost)</td>
<td style="width: 15%; text-align: center;">@Html.CheckBoxFor(x => x.IsLeast)</td>
