<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WebsiteUrl" value="https://www.qplanet.be" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint name="ITheoremListService" address="http://culturalfit.myquintessence.be/Service/TheoremListService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="IAdminService" address="http://culturalfit.myquintessence.be/AdminService/AdminService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint name="ICrmService" address="http://culturalfit.myquintessence.be/Service/CrmService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>