<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CulturalFit" connectionString="Data Source=qprod-db\quintessence;Initial Catalog=CulturalFit;Integrated Security=False;User Id=CulturalFitUser;Password=$Quint123;Pooling=false;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Quintessence.CulturalFit.Service.Implementation.TheoremListService" xdt:Locator="Match(name)">
        <endpoint bindingConfiguration=""
                  contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.ITheoremListService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="Quintessence.CulturalFit.Service.Implementation.AdminService" xdt:Locator="Match(name)">
        <endpoint bindingConfiguration=""
                  contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.IAdminService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="Quintessence.CulturalFit.Service.Implementation.CrmService" xdt:Locator="Match(name)">
        <endpoint bindingConfiguration=""
                  contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.ICrmService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>

    <client>
      <endpoint address="http://qprod-db/RS_QUINTESSENCE/ReportExecution2005.asmx"
        name="ReportExecutionServiceSoap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>