<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>\\vm-pro\c$\inetpub\wwwroot\Sites\Cultuurfit\AdminSite</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/AutoMapper.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/AutoMapper.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>08/28/2012 15:12:56</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Common.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Common.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Logging.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Logging.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.pdb">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.dll">
      <publishTime>08/28/2012 15:13:06</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.Interception.dll">
      <publishTime>08/28/2012 15:13:07</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.Interception.xml">
      <publishTime>08/28/2012 15:13:07</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.xml">
      <publishTime>08/28/2012 15:13:06</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>08/28/2012 15:13:03</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.DataModel.dll">
      <publishTime>08/28/2012 15:18:56</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.DataModel.pdb">
      <publishTime>08/28/2012 15:18:56</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Infra.dll">
      <publishTime>08/28/2012 15:18:56</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Infra.pdb">
      <publishTime>08/28/2012 15:18:56</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.Contracts.dll">
      <publishTime>08/28/2012 15:18:57</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.Contracts.pdb">
      <publishTime>08/28/2012 15:18:57</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.UI.Admin.dll">
      <publishTime>08/28/2012 15:21:27</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.UI.Admin.pdb">
      <publishTime>08/28/2012 15:21:27</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.UI.Core.dll">
      <publishTime>08/28/2012 15:21:26</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.UI.Core.pdb">
      <publishTime>08/28/2012 15:21:26</publishTime>
    </File>
    <File Include="bin/System.Json.dll">
      <publishTime>08/28/2012 15:13:05</publishTime>
    </File>
    <File Include="bin/System.Json.xml">
      <publishTime>08/28/2012 15:13:05</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>08/28/2012 15:13:05</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>08/28/2012 15:13:05</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>08/28/2012 15:13:05</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>08/28/2012 15:13:05</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>08/28/2012 15:13:05</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>08/28/2012 15:13:05</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.dll">
      <publishTime>08/28/2012 15:13:06</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.xml">
      <publishTime>08/28/2012 15:13:06</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>08/28/2012 15:13:03</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="Content/jquery-ui-datepicker.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/jquery-ui-dialog.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery-ui.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_222222_256x240.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_2e83ff_256x240.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_454545_256x240.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_888888_256x240.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery-ui.min.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.accordion.min.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.autocomplete.min.css">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.button.min.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.core.min.css">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.datepicker.min.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.dialog.min.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.progressbar.min.css">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.resizable.min.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.selectable.min.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.slider.min.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.tabs.min.css">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.theme.min.css">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>08/28/2012 15:13:16</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>08/28/2012 15:13:17</publishTime>
    </File>
    <File Include="Images/accent.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/aspNetHome.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/back_disabled.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/back_enabled.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/back_enabled_hover.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/bullet.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/edit.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/errorGuinea.png">
      <publishTime>10/07/2012 16:10:19</publishTime>
    </File>
    <File Include="Images/facebook.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/findHosting.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/forward_disabled.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/forward_enabled.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/forward_enabled_hover.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/heroAccent.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/loader.gif">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/loading_animation.gif">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/NuGetGallery.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/orderedListOne.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/orderedListThree.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/orderedListTwo.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/pdf.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/refresh.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/reopen.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/sort_asc.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/sort_asc_disabled.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/sort_both.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/sort_desc.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/sort_desc_disabled.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/twitter.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-bg_flat_0_564d4d_40x100.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-bg_highlight-soft_75_56aa01_1x100.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-bg_inset-soft_95_fef1ec_1x100.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-icons_222222_256x240.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-icons_2e83ff_256x240.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-icons_454545_256x240.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-icons_888888_256x240.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/ui-icons_cd0a0a_256x240.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/warning.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Images/windowsLive.png">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>08/28/2012 15:13:16</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/docs/media/js/doc.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/docs/media/js/jquery.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/docs/media/js/shBrushJScript.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/docs/media/js/shCore.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/AutoFill/media/docs/media/js/doc.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/AutoFill/media/docs/media/js/jquery.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/AutoFill/media/docs/media/js/shBrushJScript.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/AutoFill/media/docs/media/js/shCore.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/AutoFill/media/js/AutoFill.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/AutoFill/media/js/AutoFill.min.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/AutoFill/media/js/AutoFill.min.js.gz">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColReorder/media/docs/media/js/doc.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColReorder/media/docs/media/js/jquery.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColReorder/media/docs/media/js/shBrushJScript.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColReorder/media/docs/media/js/shCore.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColReorder/media/js/ColReorder.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColReorder/media/js/ColReorder.min.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColReorder/media/js/ColReorder.min.js.gz">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColVis/media/docs/media/js/doc.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColVis/media/docs/media/js/jquery.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColVis/media/docs/media/js/shBrushJScript.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColVis/media/docs/media/js/shCore.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColVis/media/js/ColVis.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColVis/media/js/ColVis.min.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/ColVis/media/js/ColVis.min.js.gz">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/FixedColumns/docs/media/js/doc.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/FixedColumns/docs/media/js/jquery.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/FixedColumns/docs/media/js/shBrushJScript.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/FixedColumns/docs/media/js/shCore.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/FixedColumns/media/js/FixedColumns.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/FixedColumns/media/js/FixedColumns.min.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/FixedColumns/media/js/FixedColumns.min.js.gz">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/Scroller/media/docs/media/js/doc.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/Scroller/media/docs/media/js/jquery.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/Scroller/media/docs/media/js/shBrushJScript.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/Scroller/media/docs/media/js/shCore.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/Scroller/media/js/Scroller.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/Scroller/media/js/Scroller.min.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/Scroller/media/js/Scroller.min.js.gz">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/TableTools/media/js/TableTools.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/TableTools/media/js/TableTools.min.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/TableTools/media/js/TableTools.min.js.gz">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/extras/TableTools/media/js/ZeroClipboard.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/DataTables-1.9.1/media/js/jquery.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.min.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.20.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.20.min.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-datepicker.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-dialog.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/jquery.dataTables.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/jquery.dataTables.min.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/jquery.ui.core.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/jquery.ui.datepicker.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>08/28/2012 15:13:18</publishTime>
    </File>
    <File Include="Scripts/knockout-2.0.0.debug.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/knockout-2.0.0.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Scripts/_references.js">
      <publishTime>08/28/2012 15:13:20</publishTime>
    </File>
    <File Include="Views/CustomersAdmin/CreateCustomerRequest.cshtml">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Views/CustomersAdmin/EditCustomerRequest.cshtml">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Views/CustomersAdmin/Index.cshtml">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Views/ParticipantsAdmin/Index.cshtml">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>08/28/2012 15:13:20</publishTime>
    </File>
    <File Include="Views/Shared/ErrorPartial.cshtml">
      <publishTime>08/28/2012 15:13:20</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>08/28/2012 15:13:19</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>08/28/2012 15:13:20</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>08/28/2012 15:21:27</publishTime>
    </File>
  </ItemGroup>
</Project>