<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint name="IDictionaryManagementQueryService" address="http://vm-dev/QService/QPlanetService/DictionaryManagementQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ICustomerRelationshipManagementQueryService" address="http://vm-dev/QService/QPlanetService/CustomerRelationshipManagementQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ISecurityQueryService" address="http://vm-dev/QService/QPlanetService/SecurityQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IInfrastructureQueryService" address="http://vm-dev/QService/QPlanetService/InfrastructureQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IAuthenticationQueryService" address="http://vm-dev/QService/QPlanetService/AuthenticationQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IProjectManagementQueryService" address="http://vm-dev/QService/QPlanetService/ProjectManagementQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ISimulationManagementQueryService" address="http://vm-dev/QService/QPlanetService/SimulationManagementQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ICandidateManagementQueryService" address="http://vm-dev/QService/QPlanetService/CandidateManagementQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IDocumentManagementQueryService" address="http://vm-dev/QService/QPlanetService/DocumentManagementQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ISupplyChainManagementQueryService" address="http://vm-dev/QService/QPlanetService/SupplyChainManagementQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IWorkspaceManagementQueryService" address="http://vm-dev/QService/QPlanetService/WorkspaceManagementQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IReportManagementQueryService" address="http://vm-dev/QService/QPlanetService/ReportManagementQueryService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />

      <endpoint name="IDictionaryManagementCommandService" address="http://vm-dev/QService/QPlanetService/DictionaryManagementCommandService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ISecurityCommandService" address="http://vm-dev/QService/QPlanetService/SecurityCommandService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IAuthenticationCommandService" address="http://vm-dev/QService/QPlanetService/AuthenticationCommandService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IProjectManagementCommandService" address="http://vm-dev/QService/QPlanetService/ProjectManagementCommandService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ICustomerRelationshipManagementCommandService" address="http://vm-dev/QService/QPlanetService/CustomerRelationshipManagementCommandService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ISimulationManagementCommandService" address="http://vm-dev/QService/QPlanetService/SimulationManagementCommandService.svc" binding="wsHttpBinding" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ICandidateManagementCommandService" address="http://vm-dev/QService/QPlanetService/CandidateManagementCommandService.svc" binding="wsHttpBinding" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ISupplyChainManagementCommandService" address="http://vm-dev/QService/QPlanetService/SupplyChainManagementCommandService.svc" binding="wsHttpBinding" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IReportManagementCommandService" address="http://vm-dev/QService/QPlanetService/ReportManagementCommandService.svc" binding="wsHttpBinding" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IWorkspaceManagementCommandService" address="http://vm-dev/QService/QPlanetService/WorkspaceManagementCommandService.svc" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </client>
  </system.serviceModel>
</configuration>