<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint name="IDictionaryManagementQueryService" address="http://vm-pro:9090/QPlanetService/DictionaryManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IDictionaryManagementQueryService" />
      <endpoint name="ICustomerRelationshipManagementQueryService" address="http://vm-pro:9090/QPlanetService/CustomerRelationshipManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ICustomerRelationshipManagementQueryService" />
      <endpoint name="ISecurityQueryService" address="http://vm-pro:9090/QPlanetService/SecurityQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISecurityQueryService" />
      <endpoint name="IFinanceManagementQueryService" address="http://vm-pro:9090/QPlanetService/FinanceManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IFinanceManagementQueryService" />
      <endpoint name="IInfrastructureQueryService" address="http://vm-pro:9090/QPlanetService/InfrastructureQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IInfrastructureQueryService" />
      <endpoint name="IAuthenticationQueryService" address="http://vm-pro:9090/QPlanetService/AuthenticationQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IAuthenticationQueryService" />
      <endpoint name="IProjectManagementQueryService" address="http://vm-pro:9090/QPlanetService/ProjectManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IProjectManagementQueryService" />
      <endpoint name="ISimulationManagementQueryService" address="http://vm-pro:9090/QPlanetService/SimulationManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISimulationManagementQueryService" />
      <endpoint name="ICandidateManagementQueryService" address="http://vm-pro:9090/QPlanetService/CandidateManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ICandidateManagementQueryService" />
      <endpoint name="IDocumentManagementQueryService" address="http://vm-pro:9090/QPlanetService/DocumentManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IDocumentManagementQueryService" />
      <endpoint name="ISupplyChainManagementQueryService" address="http://vm-pro:9090/QPlanetService/SupplyChainManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISupplyChainManagementQueryService" />
      <endpoint name="IWorkspaceManagementQueryService" address="http://vm-pro:9090/QPlanetService/WorkspaceManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IWorkspaceManagementQueryService" />
      <endpoint name="IReportManagementQueryService" address="http://vm-pro:9090/QPlanetService/ReportManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IReportManagementQueryService" />
      <endpoint name="IDictionaryManagementCommandService" address="http://vm-pro:9090/QPlanetService/DictionaryManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IDictionaryManagementCommandService" />
      <endpoint name="ISecurityCommandService" address="http://vm-pro:9090/QPlanetService/SecurityCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISecurityCommandService" />
      <endpoint name="IInfrastructureCommandService" address="http://vm-pro:9090/QPlanetService/InfrastructureCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IInfrastructureCommandService" />
      <endpoint name="IAuthenticationCommandService" address="http://vm-pro:9090/QPlanetService/AuthenticationCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IAuthenticationCommandService" />
      <endpoint name="IProjectManagementCommandService" address="http://vm-pro:9090/QPlanetService/ProjectManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IProjectManagementCommandService" />
      <endpoint name="ICustomerRelationshipManagementCommandService" address="http://vm-pro:9090/QPlanetService/CustomerRelationshipManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ICustomerRelationshipManagementCommandService" />
      <endpoint name="ISimulationManagementCommandService" address="http://vm-pro:9090/QPlanetService/SimulationManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISimulationManagementCommandService" />
      <endpoint name="ICandidateManagementCommandService" address="http://vm-pro:9090/QPlanetService/CandidateManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ICandidateManagementCommandService" />
      <endpoint name="ISupplyChainManagementCommandService" address="http://vm-pro:9090/QPlanetService/SupplyChainManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISupplyChainManagementCommandService" />
      <endpoint name="IReportManagementCommandService" address="http://vm-pro:9090/QPlanetService/ReportManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IReportManagementCommandService" />
      <endpoint name="IWorkspaceManagementCommandService" address="http://vm-pro:9090/QPlanetService/WorkspaceManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IWorkspaceManagementCommandService" />
    </client>
  </system.serviceModel>
  
  <appSettings>
    <add key="ImportantMessage" value="This is the test environment!" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>