<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </configSections>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="2147483647" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ReportshellUrl" value="http://vm-dev/QReport/" />
    <add key="ImportantMessage" value="This is your local version." />
  </appSettings>
  <system.web>
    <globalization uiCulture="nl-BE" culture="nl-BE" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <machineKey compatibilityMode="Framework45" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login" defaultUrl="~/" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.serviceModel>
    <client>
      <!--
      <endpoint name="IDictionaryManagementQueryService" address="http://localhost/QService/QPlanetService/DictionaryManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IDictionaryManagementQueryService" />
      <endpoint name="ICustomerRelationshipManagementQueryService" address="http://localhost/QService/QPlanetService/CustomerRelationshipManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ICustomerRelationshipManagementQueryService" />
      <endpoint name="ISecurityQueryService" address="http://localhost/QService/QPlanetService/SecurityQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISecurityQueryService" />
      <endpoint name="IInfrastructureQueryService" address="http://localhost/QService/QPlanetService/InfrastructureQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IInfrastructureQueryService" />
      <endpoint name="IAuthenticationQueryService" address="http://localhost/QService/QPlanetService/AuthenticationQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IAuthenticationQueryService" />
      <endpoint name="IProjectManagementQueryService" address="http://localhost/QService/QPlanetService/ProjectManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IProjectManagementQueryService" />
      <endpoint name="ISimulationManagementQueryService" address="http://localhost/QService/QPlanetService/SimulationManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISimulationManagementQueryService" />
      <endpoint name="ICandidateManagementQueryService" address="http://localhost/QService/QPlanetService/CandidateManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ICandidateManagementQueryService" />
      <endpoint name="IDocumentManagementQueryService" address="http://localhost/QService/QPlanetService/DocumentManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IDocumentManagementQueryService" />
      <endpoint name="ISupplyChainManagementQueryService" address="http://localhost/QService/QPlanetService/SupplyChainManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISupplyChainManagementQueryService" />
      <endpoint name="IWorkspaceManagementQueryService" address="http://localhost/QService/QPlanetService/WorkspaceManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IWorkspaceManagementQueryService" />

      <endpoint name="IDictionaryManagementCommandService" address="http://localhost/QService/QPlanetService/DictionaryManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IDictionaryManagementCommandService" />
      <endpoint name="ISecurityCommandService" address="http://localhost/QService/QPlanetService/SecurityCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISecurityCommandService" />
      <endpoint name="IAuthenticationCommandService" address="http://localhost/QService/QPlanetService/AuthenticationCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IAuthenticationCommandService" />
      <endpoint name="IProjectManagementCommandService" address="http://localhost/QService/QPlanetService/ProjectManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IProjectManagementCommandService" />
      <endpoint name="ICustomerRelationshipManagementCommandService" address="http://localhost/QService/QPlanetService/CustomerRelationshipManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ICustomerRelationshipManagementCommandService" />
      <endpoint name="ISimulationManagementCommandService" address="http://localhost/QService/QPlanetService/SimulationManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISimulationManagementCommandService" />
      <endpoint name="ICandidateManagementCommandService" address="http://localhost/QService/QPlanetService/CandidateManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ICandidateManagementCommandService" />
      <endpoint name="ISupplyChainManagementCommandService" address="http://localhost/QService/QPlanetService/SupplyChainManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISupplyChainManagementCommandService" />
      <endpoint name="IReportManagementCommandService" address="http://localhost/QService/QPlanetService/ReportManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IReportManagementCommandService" />
      <endpoint name="IWorkspaceManagementCommandService" address="http://localhost/QService/QPlanetService/WorkspaceManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IWorkspaceManagementCommandService" />
-->
      <endpoint name="IDictionaryManagementQueryService" address="http://localhost:19349/DictionaryManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IDictionaryManagementQueryService" />
      <endpoint name="ICustomerRelationshipManagementQueryService" address="http://localhost:19349/CustomerRelationshipManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ICustomerRelationshipManagementQueryService" />
      <endpoint name="ISecurityQueryService" address="http://localhost:19349/SecurityQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISecurityQueryService" />
      <endpoint name="IFinanceManagementQueryService" address="http://localhost:19349/FinanceManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IFinanceManagementQueryService" />
      <endpoint name="IInfrastructureQueryService" address="http://localhost:19349/InfrastructureQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IInfrastructureQueryService" />
      <endpoint name="IAuthenticationQueryService" address="http://localhost:19349/AuthenticationQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IAuthenticationQueryService" />
      <endpoint name="IProjectManagementQueryService" address="http://localhost:19349/ProjectManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IProjectManagementQueryService" />
      <endpoint name="ISimulationManagementQueryService" address="http://localhost:19349/SimulationManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISimulationManagementQueryService" />
      <endpoint name="ICandidateManagementQueryService" address="http://localhost:19349/CandidateManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ICandidateManagementQueryService" />
      <endpoint name="IDocumentManagementQueryService" address="http://localhost:19349/DocumentManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IDocumentManagementQueryService" />
      <endpoint name="ISupplyChainManagementQueryService" address="http://localhost:19349/SupplyChainManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.ISupplyChainManagementQueryService" />
      <endpoint name="IWorkspaceManagementQueryService" address="http://localhost:19349/WorkspaceManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IWorkspaceManagementQueryService" />
      <endpoint name="IReportManagementQueryService" address="http://localhost:19349/ReportManagementQueryService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.QueryServiceContracts.IReportManagementQueryService" />
      <endpoint name="IDictionaryManagementCommandService" address="http://localhost:19349/DictionaryManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IDictionaryManagementCommandService" />
      <endpoint name="ISecurityCommandService" address="http://localhost:19349/SecurityCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISecurityCommandService" />
      <endpoint name="IInfrastructureCommandService" address="http://localhost:19349/InfrastructureCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IInfrastructureCommandService" />
      <endpoint name="IAuthenticationCommandService" address="http://localhost:19349/AuthenticationCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IAuthenticationCommandService" />
      <endpoint name="IProjectManagementCommandService" address="http://localhost:19349/ProjectManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IProjectManagementCommandService" />
      <endpoint name="ICustomerRelationshipManagementCommandService" address="http://localhost:19349/CustomerRelationshipManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ICustomerRelationshipManagementCommandService" />
      <endpoint name="ISimulationManagementCommandService" address="http://localhost:19349/SimulationManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISimulationManagementCommandService" />
      <endpoint name="ICandidateManagementCommandService" address="http://localhost:19349/CandidateManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ICandidateManagementCommandService" />
      <endpoint name="ISupplyChainManagementCommandService" address="http://localhost:19349/SupplyChainManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.ISupplyChainManagementCommandService" />
      <endpoint name="IReportManagementCommandService" address="http://localhost:19349/ReportManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IReportManagementCommandService" />
      <endpoint name="IWorkspaceManagementCommandService" address="http://localhost:19349/WorkspaceManagementCommandService.svc" binding="wsHttpBinding" contract="Quintessence.QService.QPlanetService.Contracts.ServiceContracts.CommandServiceContracts.IWorkspaceManagementCommandService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="WCFBinding" openTimeout="00:10:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding receiveTimeout="00:01:00" openTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
          <reliableSession inactivityTimeout="00:10:00" enabled="true" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Tracing" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="C:\ApplicationLogging\QPlanet\AppLog.log" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" listenerDataType="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QPlanet.Infrastructure" traceOutputOptions="LogicalOperationStack" type="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListener, Quintessence.QPlanet.Infrastructure" name="AppLog" />
      <add fileName="C:\ApplicationLogging\QPlanet\Exception.log" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" listenerDataType="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QPlanet.Infrastructure" traceOutputOptions="Callstack" type="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListener, Quintessence.QPlanet.Infrastructure" name="Exception" />
      <add fileName="C:\ApplicationLogging\QPlanet\Trace.csv" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Csv Formatter" listenerDataType="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QPlanet.Infrastructure" traceOutputOptions="None" type="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListener, Quintessence.QPlanet.Infrastructure" name="Trace" />
      <add fileName="C:\ApplicationLogging\QPlanet\Timings.csv" rollSizeKB="1024" timeStampPattern="dd-MM-yyyy" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Csv Formatter" listenerDataType="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListenerData, Quintessence.QPlanet.Infrastructure" traceOutputOptions="None" type="Quintessence.QPlanet.Infrastructure.Logging.TraceRollingFlatFileTraceListener, Quintessence.QPlanet.Infrastructure" name="Timings" />
    </listeners>
    <formatters>
      <add template="{timestamp} : {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
      <add template="{timestamp};{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Csv Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="AppLog">
        <listeners>
          <add name="AppLog" />
        </listeners>
      </add>
      <add switchValue="Verbose" name="ExceptionHandling">
        <listeners>
          <add name="Exception" />
        </listeners>
      </add>
      <add switchValue="Information" name="Tracing">
        <listeners>
          <add name="Trace" />
        </listeners>
      </add>
      <add switchValue="Information" name="DurationLog">
        <listeners>
          <add name="Timings" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="Off" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
</configuration>