<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CulturalFit" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=CulturalFit;Integrated Security=False;User Id=CulturalFitUser;Password=$Quint123;Pooling=false;"/>
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint name="ITheoremListService" address="http://localhost/CulturalFit/Service/TheoremListService.svc" binding="basicHttpBinding" contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.ITheoremListService" />
      <endpoint name="ICrmService" address="http://localhost/CulturalFit/Service/CrmService.svc" binding="basicHttpBinding" contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.ICrmService" />
      <endpoint name="IAdminService" address="http://localhost/CulturalFit/AdminService/AdminService.svc" binding="basicHttpBinding" contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.IAdminService" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>