@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Quintessence.QCandidate.Models.Assessments.SubCategories>

@inject IViewLocalizer Localizer

@{

    var language = User.Claims.SingleOrDefault(c => c.Type == "extension_Language").Value.ToLower();
    System.Threading.Thread.CurrentThread.CurrentUICulture = System.Globalization.CultureInfo.GetCultureInfo(language);
    System.Threading.Thread.CurrentThread.CurrentCulture = System.Globalization.CultureInfo.GetCultureInfo(language);

    if (Model.Count() > 0)
    {
    <hr style="width: 30%; margin: 50px auto;" />

    <div class="row">
        <div class="col-md-12 center">
            @Localizer["SubCategoriesSub"]
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-3 center">
            <ul class="list-group" style="padding-left: 0px !important;">
                @foreach (var item in Model)
                {
                 <a href="@(item.LoginLink)" target="_blank" style="text-decoration:none;">
                     <li class="list-group-item pp">
                         @Html.DisplayFor(modelItem => item.Name)
                     </li>
                 </a>
                }
            </ul>
            </div>
    </div>
    }
}