@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization


@model Quintessence.QCandidate.Models.ProgramComponent

@inject IViewLocalizer Localizer

<div class="container">
    <div class="context">
        <h1>@Model.Title</h1>
    </div>
</div>


@if (Model.PdfExists)
{

    if (Model.CanShowPdf)
    {
        <iframe src="@Model.PdfUrl" width="100%" height="1075px">
        </iframe>
    }
    else
    {
        <div class="container noaccess">
            <div class="content">
                @Localizer["NoAccessYet"]
            </div>
        </div>
    }
}
