<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>\\vm-acc\c$\inetpub\wwwroot\CulturalFit\AdminService</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="AdminService.svc">
      <publishTime>07/30/2012 11:51:44</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>07/30/2012 11:51:35</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>07/30/2012 11:51:35</publishTime>
    </File>
    <File Include="bin/Microsoft.Data.Edm.dll">
      <publishTime>07/30/2012 11:51:37</publishTime>
    </File>
    <File Include="bin/Microsoft.Data.OData.dll">
      <publishTime>07/30/2012 11:51:38</publishTime>
    </File>
    <File Include="bin/Microsoft.Data.Services.Client.dll">
      <publishTime>07/30/2012 11:51:38</publishTime>
    </File>
    <File Include="bin/Microsoft.Data.Services.dll">
      <publishTime>07/30/2012 11:51:38</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Common.dll">
      <publishTime>07/30/2012 11:51:35</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Common.xml">
      <publishTime>07/30/2012 11:51:35</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Logging.dll">
      <publishTime>07/30/2012 11:51:35</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Logging.xml">
      <publishTime>07/30/2012 11:51:35</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.dll">
      <publishTime>07/30/2012 11:51:35</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.xml">
      <publishTime>07/30/2012 11:51:35</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.dll">
      <publishTime>07/30/2012 11:51:41</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.Interception.dll">
      <publishTime>07/30/2012 11:51:41</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.Interception.xml">
      <publishTime>07/30/2012 11:51:41</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.xml">
      <publishTime>07/30/2012 11:51:41</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Business.dll">
      <publishTime>07/30/2012 14:25:06</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Data.dll">
      <publishTime>07/30/2012 14:25:05</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.DataModel.dll">
      <publishTime>07/30/2012 14:25:05</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Infra.dll">
      <publishTime>07/30/2012 14:25:04</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.AdminHost.dll">
      <publishTime>07/30/2012 14:25:08</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.Contracts.dll">
      <publishTime>07/30/2012 14:25:05</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.Implementation.dll">
      <publishTime>07/30/2012 14:25:07</publishTime>
    </File>
    <File Include="bin/System.Spatial.dll">
      <publishTime>07/30/2012 11:51:40</publishTime>
    </File>
    <File Include="CrmService.svc">
      <publishTime>07/30/2012 11:51:44</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>07/30/2012 11:51:44</publishTime>
    </File>
    <File Include="TheoremListAdminService.svc">
      <publishTime>07/30/2012 11:51:44</publishTime>
    </File>
    <File Include="TheoremListService.svc">
      <publishTime>07/30/2012 11:51:44</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/31/2012 10:59:06</publishTime>
    </File>
  </ItemGroup>
</Project>