<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>\\vm-pro\c$\inetpub\wwwroot\Sites\Cultuurfit\AdminService</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="AdminService.svc">
      <publishTime>08/28/2012 15:13:13</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>08/28/2012 15:12:56</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>08/28/2012 15:12:56</publishTime>
    </File>
    <File Include="bin/Microsoft.Data.Edm.dll">
      <publishTime>08/28/2012 15:13:01</publishTime>
    </File>
    <File Include="bin/Microsoft.Data.OData.dll">
      <publishTime>08/28/2012 15:13:01</publishTime>
    </File>
    <File Include="bin/Microsoft.Data.Services.Client.dll">
      <publishTime>08/28/2012 15:13:03</publishTime>
    </File>
    <File Include="bin/Microsoft.Data.Services.dll">
      <publishTime>08/28/2012 15:13:02</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Common.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Common.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Logging.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Logging.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.dll">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.pdb">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.xml">
      <publishTime>08/28/2012 15:12:55</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.dll">
      <publishTime>08/28/2012 15:13:06</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.Interception.dll">
      <publishTime>08/28/2012 15:13:07</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.Interception.xml">
      <publishTime>08/28/2012 15:13:07</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.xml">
      <publishTime>08/28/2012 15:13:06</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Business.dll">
      <publishTime>08/28/2012 15:18:57</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Business.pdb">
      <publishTime>08/28/2012 15:18:57</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Data.dll">
      <publishTime>08/28/2012 15:18:56</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Data.pdb">
      <publishTime>08/28/2012 15:18:56</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.DataModel.dll">
      <publishTime>08/28/2012 15:18:56</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.DataModel.pdb">
      <publishTime>08/28/2012 15:18:56</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Infra.dll">
      <publishTime>08/28/2012 15:18:56</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Infra.pdb">
      <publishTime>08/28/2012 15:18:56</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.AdminHost.dll">
      <publishTime>08/28/2012 15:18:58</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.AdminHost.pdb">
      <publishTime>08/28/2012 15:18:58</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.Contracts.dll">
      <publishTime>08/28/2012 15:18:57</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.Contracts.pdb">
      <publishTime>08/28/2012 15:18:57</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.Implementation.dll">
      <publishTime>08/28/2012 15:18:58</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.Implementation.pdb">
      <publishTime>08/28/2012 15:18:58</publishTime>
    </File>
    <File Include="bin/System.Spatial.dll">
      <publishTime>08/28/2012 15:13:05</publishTime>
    </File>
    <File Include="CrmService.svc">
      <publishTime>08/28/2012 15:13:13</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>08/28/2012 15:13:14</publishTime>
    </File>
    <File Include="TheoremListAdminService.svc">
      <publishTime>08/28/2012 15:13:14</publishTime>
    </File>
    <File Include="TheoremListService.svc">
      <publishTime>08/28/2012 15:13:14</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>08/28/2012 15:18:59</publishTime>
    </File>
  </ItemGroup>
</Project>