<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>\\vm-test\c$\inetpub\wwwroot\CulturalFit\AdminService</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="AdminService.svc">
      <publishTime>06/13/2012 13:54:17</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>04/26/2012 16:53:28</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>04/26/2012 16:53:28</publishTime>
    </File>
    <File Include="bin/Microsoft.Data.Edm.dll">
      <publishTime>06/13/2012 13:53:13</publishTime>
    </File>
    <File Include="bin/Microsoft.Data.OData.dll">
      <publishTime>06/13/2012 13:53:17</publishTime>
    </File>
    <File Include="bin/Microsoft.Data.Services.Client.dll">
      <publishTime>06/13/2012 13:53:23</publishTime>
    </File>
    <File Include="bin/Microsoft.Data.Services.dll">
      <publishTime>06/13/2012 13:53:27</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Common.dll">
      <publishTime>05/25/2012 11:54:23</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Common.xml">
      <publishTime>05/25/2012 11:54:23</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Logging.dll">
      <publishTime>05/25/2012 11:54:23</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Logging.xml">
      <publishTime>05/25/2012 11:54:23</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.dll">
      <publishTime>04/27/2012 08:43:05</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.pdb">
      <publishTime>04/27/2012 08:43:06</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.xml">
      <publishTime>04/27/2012 08:43:06</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.dll">
      <publishTime>04/27/2012 08:43:14</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.Interception.dll">
      <publishTime>05/25/2012 11:54:24</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.Interception.xml">
      <publishTime>05/25/2012 11:54:24</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.xml">
      <publishTime>04/27/2012 08:43:15</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Business.dll">
      <publishTime>07/19/2012 09:45:27</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Business.pdb">
      <publishTime>07/19/2012 09:45:27</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Data.dll">
      <publishTime>07/19/2012 09:45:26</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Data.pdb">
      <publishTime>07/19/2012 09:45:26</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.DataModel.dll">
      <publishTime>07/19/2012 09:45:26</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.DataModel.pdb">
      <publishTime>07/19/2012 09:45:26</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Infra.dll">
      <publishTime>07/19/2012 09:45:26</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Infra.pdb">
      <publishTime>07/19/2012 09:45:26</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.AdminHost.dll">
      <publishTime>07/27/2012 09:10:29</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.AdminHost.pdb">
      <publishTime>07/27/2012 09:10:29</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.Contracts.dll">
      <publishTime>07/19/2012 09:45:27</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.Contracts.pdb">
      <publishTime>07/19/2012 09:45:27</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.Implementation.dll">
      <publishTime>07/19/2012 09:45:28</publishTime>
    </File>
    <File Include="bin/Quintessence.CulturalFit.Service.Implementation.pdb">
      <publishTime>07/19/2012 09:45:28</publishTime>
    </File>
    <File Include="bin/System.Spatial.dll">
      <publishTime>06/13/2012 13:53:07</publishTime>
    </File>
    <File Include="CrmService.svc">
      <publishTime>05/25/2012 11:54:24</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>06/13/2012 13:53:27</publishTime>
    </File>
    <File Include="TheoremListAdminService.svc">
      <publishTime>05/25/2012 11:54:24</publishTime>
    </File>
    <File Include="TheoremListService.svc">
      <publishTime>05/25/2012 11:54:24</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/27/2012 09:10:30</publishTime>
    </File>
  </ItemGroup>
</Project>