<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint name="ITheoremListService" address="http://vm-test/CulturalFit/AdminService/TheoremListService.svc" binding="wsHttpBinding" bindingConfiguration="" contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.ITheoremListService" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ITheoremListAdminService" address="http://vm-test/CulturalFit/AdminService/TheoremListAdminService.svc" behaviorConfiguration="" bindingConfiguration="" binding="wsHttpBinding" contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.ITheoremListAdminService" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IAdminService" address="http://vm-test/CulturalFit/AdminService/AdminService.svc" binding="wsHttpBinding" bindingConfiguration="" contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.IAdminService" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ICrmService" address="http://vm-test/CulturalFit/AdminService/CrmService.svc" binding="wsHttpBinding" bindingConfiguration="" contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.ICrmService" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </client>
  </system.serviceModel>
</configuration>