<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint name="ITheoremListService" address="http://culturalfit.myquintessence.be/AdminService/TheoremListService.svc" bindingConfiguration="" contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.ITheoremListService" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ITheoremListAdminService" address="http://culturalfit.myquintessence.be/AdminService/TheoremListAdminService.svc" behaviorConfiguration="" bindingConfiguration="" contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.ITheoremListAdminService" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="IAdminService" address="http://culturalfit.myquintessence.be/AdminService/AdminService.svc" bindingConfiguration="" contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.IAdminService" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <endpoint name="ICrmService" address="http://culturalfit.myquintessence.be/AdminService/CrmService.svc" bindingConfiguration="" contract="Quintessence.CulturalFit.Service.Contracts.ServiceContracts.ICrmService" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </client>
  </system.serviceModel>
</configuration>