<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>\\vm-dev\c$\inetpub\wwwroot\QService\QPlanetService</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="AuthenticationCommandService.svc">
      <publishTime>06/12/2012 18:00:08</publishTime>
    </File>
    <File Include="AuthenticationQueryService.svc">
      <publishTime>06/12/2012 16:27:02</publishTime>
    </File>
    <File Include="bin/AutoMapper.dll">
      <publishTime>06/18/2012 17:17:39</publishTime>
    </File>
    <File Include="bin/AutoMapper.xml">
      <publishTime>06/18/2012 17:17:39</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>04/24/2012 22:09:45</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>04/24/2012 22:09:45</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Common.dll">
      <publishTime>06/27/2012 08:23:33</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Common.xml">
      <publishTime>06/27/2012 08:23:35</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Logging.dll">
      <publishTime>06/27/2012 08:23:45</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.EnterpriseLibrary.Logging.xml">
      <publishTime>06/27/2012 08:23:47</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.dll">
      <publishTime>05/25/2012 15:11:59</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.pdb">
      <publishTime>05/25/2012 15:12:00</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.xml">
      <publishTime>05/25/2012 15:12:01</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.dll">
      <publishTime>05/25/2012 15:12:08</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.Interception.dll">
      <publishTime>06/27/2012 08:23:32</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.Interception.xml">
      <publishTime>06/27/2012 08:23:32</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.xml">
      <publishTime>05/25/2012 15:12:08</publishTime>
    </File>
    <File Include="bin/Microsoft.SharePoint.Client.dll">
      <publishTime>08/29/2011 21:53:12</publishTime>
    </File>
    <File Include="bin/Microsoft.SharePoint.Client.Runtime.dll">
      <publishTime>03/26/2010 22:15:42</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.Business.dll">
      <publishTime>09/04/2012 10:31:15</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.Business.Interfaces.dll">
      <publishTime>09/04/2012 10:31:08</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.Business.Interfaces.pdb">
      <publishTime>09/04/2012 10:31:08</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.Business.pdb">
      <publishTime>09/04/2012 10:31:15</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.Core.dll">
      <publishTime>09/04/2012 10:31:02</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.Core.pdb">
      <publishTime>09/04/2012 10:31:02</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.Data.dll">
      <publishTime>09/04/2012 10:31:09</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.Data.Interfaces.dll">
      <publishTime>09/04/2012 10:31:07</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.Data.Interfaces.pdb">
      <publishTime>09/04/2012 10:31:07</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.Data.pdb">
      <publishTime>09/04/2012 10:31:09</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.DataModel.dll">
      <publishTime>09/04/2012 10:31:06</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.DataModel.pdb">
      <publishTime>09/04/2012 10:31:06</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.QPlanetService.Contracts.dll">
      <publishTime>09/04/2012 10:31:12</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.QPlanetService.Contracts.pdb">
      <publishTime>09/04/2012 10:31:12</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.QPlanetService.Host.dll">
      <publishTime>09/04/2012 10:31:18</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.QPlanetService.Host.pdb">
      <publishTime>09/04/2012 10:31:18</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.QPlanetService.Implementation.dll">
      <publishTime>09/04/2012 10:31:17</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.QPlanetService.Implementation.pdb">
      <publishTime>09/04/2012 10:31:17</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.QueryModel.dll">
      <publishTime>09/04/2012 10:31:06</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.QueryModel.pdb">
      <publishTime>09/04/2012 10:31:06</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.ReportingServiceData.dll">
      <publishTime>09/04/2012 10:31:12</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.ReportingServiceData.pdb">
      <publishTime>09/04/2012 10:31:11</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.Service.Contracts.dll">
      <publishTime>09/04/2012 10:31:08</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.Service.Contracts.pdb">
      <publishTime>09/04/2012 10:31:08</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.SharePointData.dll">
      <publishTime>09/04/2012 10:31:08</publishTime>
    </File>
    <File Include="bin/Quintessence.QService.SharePointData.pdb">
      <publishTime>09/04/2012 10:31:08</publishTime>
    </File>
    <File Include="CandidateManagementCommandService.svc">
      <publishTime>07/27/2012 13:04:05</publishTime>
    </File>
    <File Include="CandidateManagementQueryService.svc">
      <publishTime>07/27/2012 13:04:06</publishTime>
    </File>
    <File Include="CustomerRelationshipManagementCommandService.svc">
      <publishTime>06/22/2012 15:31:14</publishTime>
    </File>
    <File Include="CustomerRelationshipManagementQueryService.svc">
      <publishTime>06/12/2012 16:27:06</publishTime>
    </File>
    <File Include="CustomerRelationshipManagementService.svc">
      <publishTime>06/03/2012 15:43:49</publishTime>
    </File>
    <File Include="DictionaryManagementCommandService.svc">
      <publishTime>06/12/2012 17:57:34</publishTime>
    </File>
    <File Include="DictionaryManagementQueryService.svc">
      <publishTime>06/12/2012 16:27:08</publishTime>
    </File>
    <File Include="DictionaryManagementService.svc">
      <publishTime>06/02/2012 23:59:49</publishTime>
    </File>
    <File Include="DocumentManagementQueryService.svc">
      <publishTime>07/02/2012 09:35:23</publishTime>
    </File>
    <File Include="InfrastructureQueryService.svc">
      <publishTime>06/12/2012 16:27:11</publishTime>
    </File>
    <File Include="InfrastructureService.svc">
      <publishTime>06/05/2012 14:08:38</publishTime>
    </File>
    <File Include="ProjectManagementCommandService.svc">
      <publishTime>06/13/2012 16:55:23</publishTime>
    </File>
    <File Include="ProjectManagementQueryService.svc">
      <publishTime>06/13/2012 15:02:05</publishTime>
    </File>
    <File Include="ReportManagementQueryService.svc">
      <publishTime>08/28/2012 15:13:07</publishTime>
    </File>
    <File Include="SecurityCommandService.svc">
      <publishTime>06/12/2012 17:57:44</publishTime>
    </File>
    <File Include="SecurityQueryService.svc">
      <publishTime>06/12/2012 16:27:14</publishTime>
    </File>
    <File Include="SecurityService.svc">
      <publishTime>06/04/2012 08:06:56</publishTime>
    </File>
    <File Include="SimulationManagementCommandService.svc">
      <publishTime>06/28/2012 10:51:52</publishTime>
    </File>
    <File Include="SimulationManagementQueryService.svc">
      <publishTime>06/27/2012 14:48:01</publishTime>
    </File>
    <File Include="SupplyChainManagementCommandService.svc">
      <publishTime>07/31/2012 09:57:46</publishTime>
    </File>
    <File Include="SupplyChainManagementQueryService.svc">
      <publishTime>07/31/2012 08:33:25</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>09/04/2012 10:31:18</publishTime>
    </File>
    <File Include="WorkspaceManagementQueryService.svc">
      <publishTime>08/22/2012 15:02:21</publishTime>
    </File>
  </ItemGroup>
</Project>