@model Quintessence.QPlanet.ViewModel.Prm.CrmProjectLinkModel
<td>@Model.Name</td>
<td>@Model.ProjectStatusName</td>
<td>
    <a href="javascript:void(0);" id="UnlinkCrmProjectLink" data-project-id="@Model.ProjectId" data-crmproject-id="@Model.Id">
        Detach</a>
</td>
