<p>
    It appears someone has saved the same row before you could save your data. Please refresh the page to get the latest data and try again.
</p>
<div class="center-text">
    <a href="javascript:location.reload();" class="button">Refresh</a>
</div>
