@model IEnumerable<Quintessence.QService.QueryModel.Scm.ActivityProfileView>

<option value="null"></option>   
@foreach(var ap in Model)
{
    <option value="@ap.Id">@ap.Activity.Name - @ap.ProfileName</option>
}