<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Quintessence" providerName="System.Data.SqlClient" connectionString="Data Source=qprod-db\quintessence;Initial Catalog=Quintessence;Integrated Security=False;User Id=QuintessenceUser;Password=$Quint123;Pooling=false;"/>
  </connectionStrings>
  <appSettings>
    <add key="Agents" value="4"/>
    <add key="JobHistoryEntries" value="25"/>
    <!--Can be: 'Information', 'Warning', 'Error'-->
    <add key="EventLogThreshold" value="Information"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>